<h4>Límites de la variable</h4>
<hr>
<form class="block">
    <div class="form-row">
        <div class=" form-group col-12">
            <label for="tags">Tags</label>
            <select class="form-control" id="tags" (change)="valoresTag($event)">
              <option *ngFor="let tag of tags" >{{tag.tag_descripcion}}</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="lh">Límite alto</label>
            <input type="text" [(ngModel)]="lh" name="lh" class="form-control" placeholder="Límite alto">
        </div>
        <div class="form-group col-md-6">
            <label for="luh">Límite ultra alto</label>
            <input type="text" [(ngModel)]="luh" name="luh" class="form-control" id="luh" placeholder="Límite ultra alto">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="ll">Límite alto</label>
            <input type="text" [(ngModel)]="ll" name="ll" class="form-control" id="ll" placeholder="Límite bajo">
        </div>
        <div class="form-group col-md-6">
            <label for="lul">Límite ultra alto</label>
            <input type="text" [(ngModel)]="lul" name="lul" class="form-control" id="lul" placeholder="Límite ultra bajo">
        </div>
    </div>


    <button type="submit" class="btn btn-primary">Guardar límites</button>
</form>