<!-- <div class="barra-lateral col-12 col-sm-auto"> -->
<div class="logo mb-1 mt-1" style="max-height: 150px; background-color: rgb(255, 255, 254); border-radius: 10px; box-shadow: 0 4px 8px 0 rgba(243, 239, 239, 0.2), 0 6px 20px 0 rgba(247, 244, 244, 0.19);">
    <!-- <h2>Frigorífico de Pereira S.A.</h2> -->
    <img [src]="logo" class="img-fluid" alt="Responsive image">
    <!-- <img src="../../../assets/img/empocabal.jpg" class="img-fluid" alt="Responsive image"> -->
</div>
<nav class="menu mt-1 d-flex d-sm-block justify-content-center flex-wrap">
    <a [routerLink]="['/monitor']" routerLinkActive="router-link-active"><i class="icon-gauge"></i><span>Monitor</span></a>
    <!-- <a routerLink="monitor2"><i class="icon-gauge"></i><span>Monitor2</span></a> -->
    <a [routerLink]="['/alarmas']" routerLinkActive="router-link-active"><i class="icon-bell-alt"></i><span>Notificaciones</span></a>
    <a [routerLink]="['/reportes']" routerLinkActive="router-link-active"><i class="icon-print"></i><span>Reportes</span></a>
    <a [routerLink]="['/limites']" routerLinkActive="router-link-active"><i class="icon-sliders"></i><span>Tags Info</span></a>
    <!-- <a [routerLink]="['/tags']" routerLinkActive="router-link-active"><i class="icon-thermometer-quarter"></i><span>Tags</span></a>-->
    <a *ngIf="_usuario.usuario.usuario_perfil==='ADMIN_USER'" [routerLink]="['/usuarios']" routerLinkActive="router-link-active"><i class="icon-users"></i><span>Usuarios</span></a>
    <!-- <a href="#"><i class="icon-cog-alt"></i><span>Configuracion</span></a>
            <a href="#"><i class="icon-logout"></i><span>Salir</span></a> -->
</nav>
<!-- </div> -->