<div class="row">
    <div class="col-12">
        <h4 class="col-md-6">Reporte por fecha</h4>
    </div>
    <hr>
</div>
<div class="row">
    <div class="col-12">
        <form>

            <div class="form-group row">
                <label for="fd" class="col-sm-1 align-self-center">Desde</label>
                <div class="col-sm-2 align-self-center">
                    <input type="text" [(ngModel)]="fd" name="fd" placeholder="Desde" class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', showWeekNumbers:false }">
                </div>
                <div class="col-sm-3">
                    <timepicker [showMeridian]="ismeridian" [(ngModel)]="hd" name="hd"></timepicker>
                </div>
                <label for="fh" class="col-sm-1 align-self-center">Hasta</label>
                <div class="col-sm-2 align-self-center">
                    <input type="text" [(ngModel)]="fh" name="fh" placeholder="Hasta" class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', showWeekNumbers:false }">
                </div>
                <div class="col-sm-3">
                    <timepicker [showMeridian]="ismeridian" [(ngModel)]="hh" name="hh"></timepicker>
                </div>
            </div>

            <div class="form-group row">
                <label for="tag" class="col-sm-2">Nombre Tag</label>
                <div class="col-sm-4">
                    <select class="form-control" id="tag" name="tag" (change)="selectTag($event)">
                    <option value=''>Seleccionar Tag</option>                
                    <option [value]=tag.tag_id *ngFor="let tag of tag_list" id="descripcion" >{{tag.tag_descripcion}}</option>                
                  </select>
                </div>
                <button (click)="buscar()" class="btn btn-primary">Buscar</button>
            </div>

        </form>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <button *ngIf="pdf" class="btn btn-outline-light col-md-2" (click)="generarPdf()">
            <img height="60px" src='./assets/img/pdf.png'/>
        </button>
        <button *ngIf="pdf" class="btn btn-outline-light col-md-2" (click)="generarCsv()">
            <img height="50px" src='./assets/img/export-csv.png'/>
        </button>
    </div>
    <div class="col-12" *ngIf="!pdf">
        <h4>{{status}}</h4>
    </div>
</div>




<!-- <div class="row">

    <div class="col-11" *ngIf="fechaDesde">
        <p><b>Reporte desde {{repDesde}}, hasta {{repHasta}}</b></p>
        <app-chart [tag_id]="tag_id" [desde]="fechaDesde" [hasta]="fechaHasta" [continuo]='false' [unit]="unit"></app-chart>
    </div>

</div> -->